body {
  background-color: black;
}

img {
  width: 100%;
  height: auto;
}

li {
  font-family: monospace;
  font-size: 30px;
}

h3 {
  font-family: monospace;
  font-weight: bold;
}

.panel-title {
  font-size: 30px;
}

h2 {
  color: blue;
  font-weight: bold;
  font-size: 50px;
}
